
    



.main-texto-video {
    color: #FFFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  


}


.main-texto-video h1 {
    padding-bottom:1em ;
}


