
/* ESTILO DO HEADER */

.header-navegacao {
    max-width: 970px;
    margin: 0 auto;
    margin-right: 2em;
    padding: 0.2em;
    justify-content: space-between;
    font-size: 1.1em;
    color:  rgb(255, 255, 255);
    display: flex;
    font-family: 'Lato'
}

.header-navegacao a {
    color: #ffffff;
}
.header-navegacao img {
    width: 180px;
    justify-content: flex-start;
}

.header-navegacao div {
    
    padding: 2em;

}