/* 

CORPO DA PÁGINA 

*/
*{
    margin: 0;
}

body{
    background-color: #ff914d;
    width: 100vw;
    height: 100vh;
}

iframe{
    display: flex;
    margin-top: 20rem;
    margin-left: 10rem;
}

.container{
    display: flex;
    
}

img{
    display:flex;
    width: 20rem;
    height: 20rem;
    position: absolute;
    margin-left: 30rem;
    top: 0;
}